* {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(8,11,16, 0.82);
  background-image: url("background-abstract.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  color: transparent;
  background-color: rgba(19,22,27, 0.9);
  border: 1px solid rgba(40,43,47, 0.75);
  border-radius: 18px;
  margin: 7px;
  padding: 0;
  min-width: 206px;
  min-height: 118px;
  font-size: 1px;
  font-weight: bold;
  letter-spacing: 0;
  background-repeat: no-repeat;
  background-position: 52% 46%, 52% 62%, 92% 10px;
  background-size: 46px, 118px 32px, 70px 28px;
}

button:hover,
button:focus {
  background-color: rgba(40,43,47, 0.82);
  color: #ffffff;
  border: 1px solid #d34b52;
}

#lock {
  background-image:
    url("/usr/share/wlogout/icons/lock.png"),
    url("labels/lock.svg"),
    url("icons/key-L.svg");
}

#suspend {
  background-image:
    url("/usr/share/wlogout/icons/suspend.png"),
    url("labels/sleep.svg"),
    url("icons/key-U.svg");
}

#hibernate {
  background-image:
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("labels/hibernate.svg"),
    url("icons/key-H.svg");
}

#logout {
  background-image:
    url("/usr/share/wlogout/icons/logout.png"),
    url("labels/logout.svg"),
    url("icons/key-E.svg");
}

#reboot {
  background-image:
    url("/usr/share/wlogout/icons/reboot.png"),
    url("labels/reboot.svg"),
    url("icons/key-R.svg");
}

#shutdown {
  color: transparent;
  background-color: rgba(255,117,127, 0.28);
  border: 1px solid #ff757f;
  background-image:
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("labels/shutdown.svg"),
    url("icons/key-S.svg");
}

#shutdown:hover,
#shutdown:focus {
  color: #ffffff;
  background-color: rgba(255,117,127, 0.4);
  border: 1px solid #ff757f;
}
