[Unit]
Description=Run Noxflow Timeshift auto snapshot daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=20m
Unit=noxflow-timeshift-auto.service

[Install]
WantedBy=timers.target
