@theme "theme.rasi"

window {
    width: 62%;
}

mainbox {
    spacing: 10px;
    padding: 12px;
}

inputbar {
    padding: 9px;
}

prompt {
    text-color: @accent;
}

listview {
    lines: 15;
    spacing: 4px;
}

element {
    padding: 7px 10px;
}

element-icon {
    size: 1.05em;
}
